body {
  background-color: rgba(26, 44, 71, 0.884);
 


}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr ;
  grid-gap: 10px;
  color: rgb(255, 0, 128);
  text-shadow: #f714a0;

  
}

.box {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:dodgerblue;
  font-size: medium;
}
.box:hover{
  background-color: blue;
  cursor: pointer;

}
.icon {
  font-size: 35px;
  color: #f714a0;
}
.button{
  background-color:rgb(12, 172, 12);
  align-items: center;
}
